<a href="https://colab.research.google.com/github/KristineYW/Unit-1-Build/blob/master/Build_Week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [30]:
top_5 = pd.read_csv('https://raw.githubusercontent.com/KristineYW/Unit-1-Build/master/NCHS_-_Top_Five_Leading_Causes_of_Death__United_States__1990__1950__2000.csv')

top_5.head()

   Year                                  Cause Number of Deaths
0  1900                Influenza and Pneumonia           40,362
1  1900                           Tuberculosis           38,820
2  1900  Diarrhea/Enteritis/Ulcerative Colitis           28,491
3  1900                          Heart Disease           27,427
4  1900                                 Stroke           21,353

In [28]:
ch_mort = pd.read_csv('https://raw.githubusercontent.com/KristineYW/Unit-1-Build/master/NCHS_-_Childhood_Mortality_Rates.csv')

ch_mort.head()

   Year  Age Group Death Rate
0  1900  1-4 Years    1,983.8
1  1901  1-4 Years    1,695.0
2  1902  1-4 Years    1,655.7
3  1903  1-4 Years    1,542.1
4  1904  1-4 Years    1,591.5

In [29]:
dr_le = pd.read_csv('https://raw.githubusercontent.com/KristineYW/Unit-1-Build/master/NCHS_-_Death_rates_and_life_expectancy_at_birth.csv')

dr_le.head()

   Year       Race  ... Average Life Expectancy (Years)  Age-adjusted Death Rate
0  1900  All Races  ...                            47.3                  2,518.0
1  1901  All Races  ...                            49.1                  2,473.1
2  1902  All Races  ...                            51.5                  2,301.3
3  1903  All Races  ...                            50.5                  2,379.0
4  1904  All Races  ...                            47.6                  2,502.5

[5 rows x 5 columns]

In [31]:
age_adj = pd.read_csv('https://raw.githubusercontent.com/KristineYW/Unit-1-Build/master/NCHS_-_Age-adjusted_Death_Rates_for_Selected_Major_Causes_of_Death.csv')

age_adj.head()

   Year          Cause Age Adjusted Death Rate
0  1900  Heart Disease                   265.4
1  1901  Heart Disease                   272.6
2  1902  Heart Disease                   285.2
3  1903  Heart Disease                   304.5
4  1904  Heart Disease                   331.5

In [32]:
by_state = pd.read_csv('https://raw.githubusercontent.com/KristineYW/Unit-1-Build/master/NCHS_-_Leading_Causes_of_Death__United_States.csv')

by_state.head()

   Year  ... Age-adjusted Death Rate
0  2017  ...                    49.4
1  2017  ...                    53.8
2  2017  ...                    63.7
3  2017  ...                    56.2
4  2017  ...                    51.8

[5 rows x 6 columns]